<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title> <%-title %></title>
        <link rel="stylesheet" type="text/css" href="/css/alumnistyle.css">
        <link rel="stylesheet" type="text/css" href="/css/alumniTrack.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.3.4/axios.min.js" integrity="sha512-LUKzDoJKOLqnxGWWIBM4lzRBlxcva2ZTztO8bTcWPmDSpkErWx0bSP4pdsjNH8kiHAUPaT06UXcb+vOEZH+HpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <script src="/js/alumniTrack.js" defer></script>
        <script src="/js/map.js" defer></script>
        <script src="/js/nav.js" defer></script>
    </head>
<body>
    <%- include('../partials/alumniNav.ejs') %>
    
    <div class="main">

        <div class="search">
            <form action="/alumni/search" method="GET">
                <div>
                    <div class="search-area">
                        <input type="search" name="search" id="search" placeholder="Search Alumni..." onfocus="displayFilter()" onblur="removeFilter()">
                        <button type="submit" class="search-btn">🔎</button>
                    </div>
                    <div class="search_filter">
                        <label>Search by:</label>
                        <div class="filter">
                            <div>
                                <input type="checkbox" name="filter" id="fname" value="first_name" checked>
                                <label for="fname">First Name</label>
                            </div>
                            <div>
                                <input type="checkbox" name="filter" id="lname" value="last_name">
                                <label for="lname">Last Name</label>
                            </div>
                            <div>
                                <input type="checkbox" name="filter" id="lname" value="grad_year">
                                <label for="lname">Grad. Year</label>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
            
            <div class="search-container">

                <div class="tablehead">
                    <div class="th"><p>First Name</p></div>
                    <div class="th"><p>Last Name</p></div>
                    <div class="th"><p>Set</p></div>
                    <div class="th"><p>Occupation</p></div>
                    <div class="th"><p>E-mail</p></div>
                    <div class="th">Action</div>
                </div>

                <% if (alumni.length > 0) { %>
                 
                    <% for( let i = 0; i < alumni.length; i++ ) { %>
                        <div class="searchresult">
                            <div class="td"><p><%= alumni[i].first_name %></p></div>
                            <div class="td"><p><%= alumni[i].last_name %></p></div>
                            <div class="td"><p><%= alumni[i].mascot %></p></div>
                            <div class="td"><p><%= alumni[i].occupation %></p></div>
                            <div class="td"><p><%= alumni[i].email %></p></div>
                            <div class="td"><a href="/alumni/<%= alumni[i].uuid %>">View More...</a></div>
                        </div>
                    <% } %>
                
                <% } else if(alumniNG.length > 0) { %>

                    <% for( let i = 0; i < alumniNG.length; i++ ) { %>
                        <div class="searchresult">
                            <div class="td"><p><%= alumniNG[i].last_name %></p></div>
                            <div class="td"><p><%= alumniNG[i].first_name %></p></div>
                            <div class="td"><p><%= alumniNG[i].mascot %></p></div>
                            <div class="td"><p><%= alumniNG[i].occupation %></p></div>
                            <div class="td"><p><%= alumniNG[i].email %></p></div>
                            <div class="td"><a href="/alumni/<%= alumniNG[i].uuid %>">View More...</a></div>
                        </div>
                    <% } %>
                
                <% } else if (alumniDias.length > 0) { %>
                    <% for( let i = 0; i < alumniDias.length; i++ ) { %>
                        <div class="searchresult">
                            <div class="td"><p><%= alumniDias[i].last_name %></p></div>
                            <div class="td"><p><%= alumniDias[i].first_name %></p></div>
                            <div class="td"><p><%= alumniDias[i].mascot %></p></div>
                            <div class="td"><p><%= alumniDias[i].occupation %></p></div>
                            <div class="td"><p><%= alumniDias[i].email %></p></div>
                            <div class="td"><a href="/alumni/<%= alumniDias[i].uuid %>">View More...</a></div>
                        </div>
                    <% } %>
                <% } else if(alumniNear.length > 0) { %>
                    <% for( let i = 0; i < alumniNear.length; i++ ) { %>
                        <div class="searchresult">
                            <div class="td"><p><%= alumniNear[i].last_name %></p></div>
                            <div class="td"><p><%= alumniNear[i].first_name %></p></div>
                            <div class="td"><p><%= alumniNear[i].mascot %></p></div>
                            <div class="td"><p><%= alumniNear[i].occupation %></p></div>
                            <div class="td"><p><%= alumniNear[i].email %></p></div>
                            <div class="td"><a href="/alumni/<%= alumniNear[i].uuid %>">View More...</a></div>
                        </div>
                    <% } %>
                <% } else { %>
                    <% for( let i = 0; i < vacancy.length; i++ ) { %>
                        <div class="searchresult">
                            <div class="td"><p><%= vacancy[i].last_name %></p></div>
                            <div class="td"><p><%= vacancy[i].first_name %></p></div>
                            <div class="td"><p><%= vacancy[i].mascot %></p></div>
                            <div class="td"><p><%= vacancy[i].occupation %></p></div>
                            <div class="td"><p><%= vacancy[i].email %></p></div>
                            <div class="td"><a href="/alumni/<%= vacancy[i].uuid %>">View More...</a></div>
                        </div>
                    <% } %>
                <% } %>
            </div>
        </div>

    </div>

    <%- include('../partials/alumniFooter.ejs') %>
    
    <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDV69k72qfUuFQhH-SMAksXBjPXrGMOVYE&callback=initMap" defer></script>
    <script
    src="" defer></script>
</body>
</html>

<!--googlemap api key:  AIzaSyDV69k72qfUuFQhH-SMAksXBjPXrGMOVYE 
    geocoding api: AIzaSyAy5fA7ARYOjHt7-Csb7fI8ypCVB25ZuvE
    AIzaSyDV69k72qfUuFQhH-SMAksXBjPXrGMOVYE-->